.App {
  text-align: center;
  width: auto;
  height: 100%;
 
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 100%; /* Full width */
  margin: 0 auto; /* Center content if necessary */
  padding: 0; /* Remove padding */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
