.admin-dashboard {
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #e6e606; /* Changed color */
}

/* Custom styles for nav-links */
.nav-tabs .nav-item .nav-link {
    color: #bcc6f6 !important; /* Changed color */
    background-color: #010419 !important; /* Changed color */
    border: 1px solid #e6e606 !important; /* Changed color */
    border-radius: 5px !important;
    margin-right: 5px !important;
}

.nav-tabs .nav-item .nav-link.active {
    color: #010419 !important; /* Changed color */
    background-color: #e6e606 !important; /* Changed color */
    border: 1px solid #010419 !important; /* Changed color */
}

/* Custom styles for form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto 20px auto;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    background-color: #007BFF;
    color: #e6e606 !important; /* Changed color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

/* Custom styles for table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Ensures equal column distribution */
}

table th, table td {
    border: 1px solid #e6e606 !important; /* Changed color */
    padding: 10px;
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word;
    text-align: center;
    color: #bcc6f6 !important; /* Changed color */
    background-color: #010419 !important; /* Changed color */
}
.actions {
    display: flex;
    gap: 5px;
    justify-content: center;
}
table th {
    background-color: #010419 !important; /* Changed color */
    color: #e6e606 !important; /* Changed color */
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #e6e606 !important; /* Changed color */
}

table button:hover {
    background-color: #ccc;
}

.btn-warning{
    color:#010419 !important;
    background-color: #e6e606 !important;
}

.btn-primary{
    color:#bcc6f6 !important;
    background-color: #010419 !important;
}

