/* Category Section */
.category-section {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
   /* Dark blue background */
  color: #ffffff;
  text-align: center;
}

/* Title */
.category-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Grid Layout */
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive */
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

/* Category Card */
.category-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 250px;
}

/* Hover Effect */
.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px #e4f1ff; /* Purple glow */
}

/* Category Label */
.category-label {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #27005d;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Category Image */
.category-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .category-card {
    height: 200px;
  }

  .category-label {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
