.color-drops{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    
    overflow: hidden;
    background-image: 
      radial-gradient(circle at 10% 20%, rgb(174, 210, 255) 10%, transparent 50%),
      radial-gradient(circle at 80% 10%, rgb(228, 241, 255) 10%, transparent 50%),
      radial-gradient(circle at 50% 80%, rgb(174, 210, 255) 10%, transparent 50%),
      radial-gradient(circle at 30% 60%, rgb(228, 241, 255) 10%, transparent 50%),
      radial-gradient(circle at 70% 90%, rgb(255, 255, 255) 10%, transparent 50%);
    background-size: cover;
  }

  /* Add this to your Global.css file */
.content-wrapper {
  margin-top: 3rem; /* Adjust this value to control the amount of space */
  padding-top: 1rem;
}