.color-drops{
    position: relative;
    background-color: #ffffff;
    min-height: 100vh;
    
    overflow: hidden;
    background-image: 
      radial-gradient(circle at 10% 20%, rgba(255, 87, 51, 0.3) 10%, transparent 50%),
      radial-gradient(circle at 80% 10%, rgba(54, 162, 235, 0.3) 10%, transparent 50%),
      radial-gradient(circle at 50% 80%, rgba(75, 192, 192, 0.3) 10%, transparent 50%),
      radial-gradient(circle at 30% 60%, rgba(153, 102, 255, 0.3) 10%, transparent 50%),
      radial-gradient(circle at 70% 90%, rgba(255, 206, 86, 0.3) 10%, transparent 50%);
    background-size: cover;
  }