.color-drops{
    position: relative !important;
    background-color: #010419;
    min-height: 100vh;
    
    overflow: hidden !important;
    
    background-size: cover !important;
  }

  /* Add this to your Global.css file */
.content-wrapper {
  margin-top: 3rem; /* Adjust this value to control the amount of space */
  padding-top: 1rem;
}