body {
  background-color: #f9f9f9;
  text-align: center;
  width: 100%;
  height: 100%;
}

/* Color Drops Effect */

/* CTA Section Styling */
.cta-section {
  max-width: 2000px;

  background: linear-gradient(135deg, #10316B, #10316B); /* New CTA Background */
  color: white;
  border-radius: 10px;
  align-items: center;
}

.cta-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* Sign Up Button Styling */
.cta-section .btn-primary {
  background-color: #e6e606; /* New Sign Up Button Color */
  border: none;
  padding: 12px 25px;
  font-size: 1.2rem;
  border-radius: 30px;
  transition: background 0.3s ease, transform 0.2s;
  color: #010419
}

.cta-section .btn-primary:hover {
  background-color: #F2F7FF; /* Lighter hover effect */
  transform: scale(1.05);
}

/* Card Shadow */
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-light {
  color: #333;
  font-weight: bold;
}


.custom-button {
  background-color: #112d4e;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.custom-button:hover {
  background-color: #0a1e3a;
  transition: background-color 0.3s ease;
}

.hero {
  background: url('../hero-image.jpeg') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 4rem 0;
}

.cta-sec {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #151515;
}